@model Visitas.Models.Visitass

<center>
<h2 class="marron">Detalles</h2>
</center>

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Fe_Registro)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Fe_Registro)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Co_Pase)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Co_Pase)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Fe_Ingreso)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Fe_Ingreso)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Fe_Salida)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Fe_Salida)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.No_Usuario_Registro)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.No_Usuario_Registro)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.No_Usuario_Modificación)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.No_Usuario_Modificación)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.No_Lugar_Reunion)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.No_Lugar_Reunion)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Motivo)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Motivo)
        </div>
    </div>
    
    @*<div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.No_Estado)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.No_Estado)
        </div>
    </div>*@
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.VisitanteId)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.VisitanteId)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.TrabajadorId)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TrabajadorId)
        </div>
    </div>
</div>

<script type="text/javascript">

        visita.closeModal = function () {
            //Cuando salgo del modal sin guardar, abajo hacemos que se libere el modal
            @*if (!visita.recordInUse)
                visita.removeVisita("@Model.Id");*@
        }
</script>