@model Visitas.Models.Trabajadores

<center>
    <h2 class="marron">Eliminar</h2>
</center>

<center>
    <h3 class="rojo">¿Estás seguro de eliminar este trabajador?</h3>
</center>

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Co_Trabajador)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Co_Trabajador)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.No_Trabajador)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.No_Trabajador)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Ap_Paterno_Trabajador)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Ap_Paterno_Trabajador)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Ap_Materno_Trabajador)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Ap_Materno_Trabajador)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Tipo_Documento)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Tipo_Documento)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Nu_Documento)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Nu_Documento)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Biografia)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Biografia)
        </div>
    </div>

    <div class="form-group hidden">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Imagen)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Imagen)
        </div>
    </div>

    <div class="form-group hidden">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Estado)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Estado)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.OficinaId)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.OficinaId)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.CargoLaboralId)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.CargoLaboralId)
        </div>
    </div>

    @*(Acion , el controlador donde se ubica el action que llamaremos)*@
    @using (Ajax.BeginForm("Delete", new { Controller = "Trabajador" },
            new AjaxOptions
            {
                HttpMethod = "POST", //Indicamos el tipo del metodo, sea POST O GET
        InsertionMode = InsertionMode.Replace, // En caso exista, insercion de codigo HTML
        UpdateTargetId = "modal-body", //Este modal-body, esta dentro de la estructura del modal que hemos creado
        OnSuccess = "trabajador.success('delete')" //En el caso de existó, llamaremos a esa funcion de Javascript
    },
            htmlAttributes: new { id = "deleteForm" } /*indicamos todos los atributos que puede tener*/)
            )
    {
        @Html.AntiForgeryToken()

        <center>
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </center>
    }
</div>

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#deleteForm");//(dentro del parentesis va el id que hemos colocado al inicio)
    });
    trabajador.closeModal = function () {
        //Cuando salgo del modal sin guardar, abajo hacemos que se libere el modal
        @*if (!trabajador.recordInUse)
            trabajador.removeTrabajador("@Model.Id");*@
        }
</script>

