 @model Visitas.Models.Oficinas

<center>
<h2 class="marron">Detalles</h2>
</center>

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Sede)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Sede)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Co_Oficina)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Co_Oficina)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.No_Oficina)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.No_Oficina)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.De_Oficina)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.De_Oficina)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Jefe_Oficina)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Jefe_Oficina)
        </div>
    </div>

    @*<div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Imagen)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Imagen)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Estado)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Estado)
        </div>
    </div>*@
</div>

<script type="text/javascript">

        oficina.closeModal = function () {
        //Cuando salgo del modal sin guardar, abajo hacemos que se libere el modal
            @*if (!oficina.recordInUse)
                oficina.removeOficina("@Model.Id");*@
        }
</script>