@model Visitas.Models.Institutos

<center>
<h2 class="marron">Detalles</h2>
</center>

<div class="form-horizontal">
    <hr />

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.No_Instituto)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.No_Instituto)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.De_Instituto)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.De_Instituto)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Tipo_Documento)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Tipo_Documento)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Nu_Documento)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Nu_Documento)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Imagen)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Imagen)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4">
            <strong>
                @Html.DisplayNameFor(model => model.Estado)
            </strong>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Estado)
        </div>
    </div>
</div>

