@model Visitas.Models.Institutos

<center>
<h2 class="marron">Editar</h2>
</center>
@Messages.Message("inUse", "Edit", "danger", "Este instituto esta en uso en este momento.")

@*(Acion , el controlador donde se ubica el action que llamaremos)*@
@using (Ajax.BeginForm("Edit", new { Controller = "Instituto" },
    new AjaxOptions
    {
        HttpMethod = "POST", //Indicamos el tipo del metodo, sea POST O GET
        InsertionMode = InsertionMode.Replace, // En caso exista, insercion de codigo HTML
        UpdateTargetId = "modal-body", //Este modal-body, esta dentro de la estructura del modal que hemos creado
        OnSuccess = "instituto.success('edit');instituto.removeInstituto('" + Model.Id + "');" //En el caso de existó, llamaremos a esa funcion de Javascript
    },
    htmlAttributes: new { id = "editForm" })
    )
{
    @Html.AntiForgeryToken()
<center>
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.No_Instituto, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.No_Instituto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No_Instituto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.De_Instituto, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.De_Instituto, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.De_Instituto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tipo_Documento, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Tipo_Documento, new MultiSelectList(new[] { "DNI", "RUC", "PASAPORTE", "CÉDULA DIPLOMÁTICA DE IDENTIDAD", "CARNET DE EXTRANJERIA", "OTROS" }), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tipo_Documento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nu_Documento, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Nu_Documento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nu_Documento, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Imagen, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Imagen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Imagen, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group hidden">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @Readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</center>
}

<script type="text/javascript">
        $(function () {
            $.validator.unobtrusive.parse("#editForm");
            //Todo lo de abajo es para el SignalR
        $('#inUse').addClass('hidden');//Cuando el modal se abra
            instituto.addInstituto("@Model.Id");//Añadimos el id a la lista de bloqueos
            instituto.validate("@Model.Id");
    });

    instituto.closeModal = function () {
        //Cuando salgo del modal sin guardar, abajo hacemos que se libere el modal
        if (!instituto.recordInUse)
            instituto.removeInstituto("@Model.Id");
    }
</script>

